@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css");
body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 20px;
}

img {
  max-width: 100%;
}

.graphCustom .nav {
  margin-bottom: 15px;
}

.graphtitle {
  font-size: 19px;
  font-weight: 500;
  color: #8575e3;
  text-transform: uppercase;
}

.boderRadious {
  border-radius: 6px;
}

.boxStylebg {
  background-color: #efebf6;
  padding: 15px 5px;
}

.centerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxshadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  border-radius: 10px;
}

.topdashBardDetails .amount {
  font-weight: bold;
  font-size: 16px;
}

.topdashBardDetails .details__amount {
  font-size: 17px;
  text-transform: uppercase;
}

.topdashBardDetails .amount, .topdashBardDetails .details__amount {
  text-align: right;
}

.tabdetails {
  padding-top: 20px;
}

.mainTab .nav-tabs {
  border-bottom: none;
}

.mainTab .borderRow .borderRight {
  border-right: 2px solid #f0f0f2;
}

.mainTab .borderRow .borderRight:last-child {
  border-right: none;
}

.mainTab .nav-link {
  padding-left: 0;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 500;
}

.mainTab .nav-tabs .nav-link.active {
  color: #8575e3;
  background-color: #fff;
  border-bottom: 4px solid #8575e3;
  background-color: #fcfcfc;
  border-radius: 0;
}

.mainTab .nav-tabs .nav-link {
  border-bottom: 4px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.mainTab .nav-link {
  color: #000;
}

.mainTab button:focus, .form-tab button {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mainTab select#incoterm_id {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

.mainTab .classfortooltip {
  display: none;
}

.themeSelect .form-select {
  border: 1px solid #8575e3;
  border-radius: 10px;
}

.priceSelect {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.accountDetails {
  padding-top: 5px;
}

.paddingBoxLeftRight {
  padding-left: 15px;
  padding-right: 15px;
}

.rowPadding {
  padding-bottom: 30px;
}

.mapDetails {
  font-size: 13px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mapDetails i {
  font-size: 17px;
  padding-right: 5px;
}

.mapDetails i.fa-caret-up {
  color: #8575e3;
}

.mapDetails i.fa-caret-down {
  color: crimson;
}

.middleTitleGraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.middleAmount {
  font-weight: bold;
  word-break: break-all;
}

.specialText {
  font-size: 14px;
  color: #8e8e8e;
  padding-top: 10px;
}

.cebterTxte {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spaceRow {
  margin-bottom: 30px;
}

.actiiveSmallGrapg, .actiiveSmallGrapg:hover {
  background-color: #8575e3;
}

.actiiveSmallGrapg .graphtitle, .actiiveSmallGrapg .middleAmount, .actiiveSmallGrapg .specialText, .actiiveSmallGrapg .cebterTxte, .actiiveSmallGrapg:hover .graphtitle, .actiiveSmallGrapg:hover .middleAmount, .actiiveSmallGrapg:hover .specialText, .actiiveSmallGrapg:hover .cebterTxte {
  color: white;
}

.actiiveSmallGrapg .middleTitleGraph i, .actiiveSmallGrapg:hover .middleTitleGraph i {
  color: white;
}

.emptyRow {
  padding: 10px;
}

.spaceBtnDiv {
  margin-left: 15px;
  margin-right: 15px;
}

.gridRow {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}

.gridRow.topTabOne {
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 1300px) {
  .middleAmount {
    font-size: 15px;
  }
  .specialText {
    padding-top: 0;
  }
  .middleTitleGraph {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .container#graphMaster {
    width: 100%;
    max-width: 100%;
  }
  .container#graphMaster .topTabOne .col-md-9 .row .col-md-3 {
    width: 50%;
  }
  .container#graphMaster .mainTab .nav-tabs {
    border-bottom: none;
  }
  .container#graphMaster .mainTab .borderRow .borderRight:nth-child(2) {
    border-right: none;
  }
  .container#graphMaster .graphGroups .col-md-6 {
    width: 100%;
    margin-bottom: 15px;
  }
  .container#graphMaster .graphGroups .col-md-3 {
    width: 50%;
  }
  .spaceRow {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 968px) {
  .gridRow .row .col-md-3 .row .col-md-6 {
    width: 50%;
  }
  .gridRow .row .col-md-3 {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .gridRow.topTabOne {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mobilePadding {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .gridRow .row .col-md-3 {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f0f0f2;
  }
  .gridRow .row .col-md-3:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .mainTab .borderRow .borderRight {
    border-right: none;
  }
  .mapDetails {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .topTabOne .mapDetails {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .mobileHide canvas {
    display: none !important;
  }
  .graphtitle {
    font-size: 16px;
  }
  .container#graphMaster .graphGroups .col-md-3 {
    width: 100%;
  }
  .topTabOne .gridCol .row .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topdashBardDetails .amount, .topdashBardDetails .details__amount {
    text-align: left;
  }
}

@media screen and (max-width: 639px) {
  .mainTab .nav {
    display: inherit;
  }
  .mainTab .nav-tabs .nav-link {
    display: block;
    width: 100%;
    text-align: left;
  }
  .mobileClickChange .nav-tabs {
    display: none;
  }
  .borderBtnMobile {
    padding: 7px;
    border: 1px solid #8575e3;
    border-radius: 13px;
    cursor: pointer;
    font-weight: bold;
  }
  .mainTab .nav-tabs .nav-link.active {
    border-bottom: none;
  }
  .mainTab .nav-link {
    font-weight: 400;
    font-size: 16px;
  }
  .borderBtnMobile .select-filter {
    position: relative;
    font-weight: 400;
  }
  .borderBtnMobile .select-filter:after {
    position: absolute;
    right: 6px;
    top: 2px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
  }
  .borderBtnMobile .nav {
    padding-top: 10px;
  }
  .mobileBottom {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */